@use "./assets/styles/variables";

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  background: var(--button-bg);
  color: var(--text-button);
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease;
}

.button:hover {
  box-shadow: var(--box-shadow-hover);
  filter: brightness(1.2);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.link {
  transition: background-color 0.2s ease;
}

.link:hover,
.link.active {
  background-color: var(--link-hover-bg);
}
